* {
    margin: 0;
    padding: 0;
}
body {
    background: url(../images/noise_light-grey.jpg);
    font-family: 'Helvetica Neue', arial, sans-serif;
    font-weight: 200;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    font-weight: 400;
    margin: 0 0 20px;
    text-align: center;
    text-shadow: 1px 1px 0 #fff, 2px 2px 0 #bbb;
}
hr {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    margin: 25px 0;
    clear: both;
}
.centered {
    text-align: center;
}
.wrapper {
    width: 100%;
    padding: 30px 0;
}
div.container {
    max-width: 90%;
    margin: 0 auto;
    padding-top: 150px;
    text-align: center;
}
ul.grid-nav {
    list-style: none;
    font-size: .85em;
    font-weight: 200;
    text-align: center;
}
ul.grid-nav li {
    display: inline-block;
}
ul.grid-nav li a {
    display: inline-block;
    background: #999;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
ul.grid-nav li a:hover {
    background: #7b0;
}
ul.grid-nav li a.active {
    background: #333;
}
.grid-container {
    display: none;
}
/* ----- Image grids ----- */
ul.rig {
    list-style: none;
    font-size: 0px;
    margin-left: -2.5%; /* should match li left margin */
}
ul.rig li {
    display: inline-block;
    padding: 10px;
    margin: 0 0 2.5% 2.5%;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul.rig li img  {
    max-width: 100%;
    height: auto;
    margin: 0 0 10px;
}
ul.rig li h3 {
    margin: 0 0 5px;
}
ul.rig li p {
    font-size: .9em;
    line-height: 1.5em;
    color: #999;
}
/* class for 4 columns */
ul.rig.columns-4 li {
    width: 22.5%; /* this value + 2.5 should = 25% */
}
img .lazy {
    display: block;
}
div.modal-header .close {
    margin: 0;
}
div.pedido {
    width: 450px;
    margin: 0 auto;
}
#table {
    margin-top: 30px;
    margin-bottom: 100px;
}
#datepicker {
    width: 350px;
    margin: 0 auto;
}
#get_file {
    cursor: pointer;
}